<main id="content">
    <h2>{{ list }} List</h2>
    {# this section will be updated by the form below #}
    {{ tasks|safe }}
    {% if admin %}
    <h2>New Task</h2>
    <p>
        Got something to do? Just fill the form below and submit.
    </p>
    <form action="/tasks/{{ list }}#tasks" method="post">
        {{ form.csrf_token }}
        <p>
            <label>Description</label>
            {{ form.desc }}
        </p>
        <p>
            <label>Due date (optional)</label>
            <input type="date" name="duefor">
        </p>
        <p>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </p>
    </form>
    <section>
        <h2>Danger Zone</h2>
        {# couldn't find a way to make this form change the page on submit just like the "delete" button... #}
        <form action="/modlist/{{ list }}#nav" method="post"
            onsubmit="document.getElementById('rename').appendChild(document.createTextNode('List renamed! Please reload this page.'))">
            {{ renameform.csrf_token }}
            <p>
                <label id="rename">
                    {{ renameform.name(value=list) }}
                    <button type="submit">Rename</button>
                </label>
            </p>
        </form>
        <p>
            <a class="button" href="/dellist/{{ list }}#nav"
                onclick="document.getElementById('content').innerHTML='<p>This list was deleted.</p>'">Delete this
                list</a>
        </p>
    </section>
    {% endif %}
</main>