<!DOCTYPE html>
<html>

<head>
    <title>Toudou - Accueil</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="static/custom.css">
</head>

<body>
    <header>
        <nav><a href="/">Home</a></nav>
        <h1>Home</h1>
    </header>
    <main>
        <p>
            Welcome to the Toudou homepage.<br>Available lists :
        <ul></ul>
        </p>
    </main>
    <footer>
        <p>
            Toudou is an <a href="https://unlicense.org/">Unlicensed</a> school project.<br>Breval Ferrari 2024
        </p>
    </footer>
</body>

</html>