<!DOCTYPE html>
<html lang="en-GB">

<iframe hidden name=htmz
    onload="setTimeout(()=>document.querySelector(contentWindow.location.hash||null)?.replaceWith(...contentDocument.body.childNodes))"></iframe>
<base target=htmz>

<head>
    <title>Toudou - Accueil</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="static/custom.css">
</head>

<body>
    <header id="header">
        {# header is safe! :D #}
        {# more seriously, "safe" turns off automatic HTML special chars escaping #}
        {{ header|safe }}
    </header>
    {# these includes reuse parts loaded on demand by HTMZ #}
    {{ main|safe }}
    <footer>
        <p>
            Toudou is an <a href="https://unlicense.org/">Unlicensed</a> school project using
            <a href="https://simplecss.org/">Simple CSS</a> and
            <a href="https://leanrada.com/htmz/">HTMZ</a>.
            <br>&copy; 2024 Breval Ferrari
        </p>
    </footer>
</body>

</html>