<main id="content">
    <h1>{{ list }} List</h1>
    {% if not tasks %}
    <p>
        There isn't any task in this list.
    </p>
    <details>
        <summary>Random fact</summary>
        <p>{{ fact }}</p>
    </details>
    {% else %}
    <form>
        {% for task in tasks %}
        <p>
            <label>
                <input type="checkbox" id="{{ task.id }}" {% if task.done %}checked{% endif %}>
                {{ task.desc }}
            </label>
        </p>
        {% endfor %}
        <button type="submit">Save changes</button>
    </form>
    {% endif %}
    <h2>New task</h2>
    <p>
        Got something to do? Just fill the form below and submit.
    </p>
    <form action="" method="post">
        <p>
            <label>Description</label>
            <input type="text" name="desc" value="touch grass">
        </p>
    </form>
</main>