<main id="content">
    <h1>{{ list }} List</h1>
    {# this section will be updated by the form below #}
    {{ tasks|safe }}
    <h2>New task</h2>
    <p>
        Got something to do? Just fill the form below and submit.
    </p>
    <form action="/tasks/{{ list }}#tasks" method="post">
        <p>
            <label>Description</label>
            <input type="text" name="desc">
        </p>
        <p>
            <label>Due date (optional)</label>
            <input type="date" name="duefor">
        </p>
        <p>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </p>
    </form>
</main>