<article id="tasks">
    <h1>{{ list }} List</h1>
    {% if not tasks %}
    <p>
        There isn't any task in this list.
    </p>
    <details>
        <summary>Random fact</summary>
        <p>{{ fact }}</p>
    </details>
    {% else %}
    <form>
        {% for task in tasks %}
        <p>
            <label>
                <input type="checkbox" id="{{ task.id }}" {% if task.done %}checked{% endif %}>
                {{ task.desc }}{% if task.duefor %} ({{ task.duefor }}){% endif %}
            </label>
        </p>
        {% endfor %}
        <button type="submit">Save changes</button>
    </form>
    {% endif %}
</article>